/* 标签选择器:会获取到所有的标签相同的标签 */
p {
    color: #891021;
    font-size: 18px;

}
/* 选择器:指定样式作用的HTML元素(eg" P "表示段落") 
标签选择器
类选择器
ID选择器
通配符选择器
……
*/
/* 属性:定义要修改的样式 */
/* 值:为属性设置的具体值 */

/* 类(class)选择器 :类选择器会获取到所有相同class属性的标签*/
.div2{
    background-color: rgb(84, 185, 207);
    width: 100px;
    height: 100px;
}
/* ID选择器 :用#号获取,*/
#div3{
    width:100px;
    height:100px;
    background-color:antiquewhite;
}
.div3{
    width: 120px;
    height: 120px;
    background-color: blue;

}
/* ID选择器优先级高于类选择器 */

/* 组合选择器, */
/* 后代选择器,选择div4类下的所有P标签 */
.div4 p{
color: #891021;
font-size: 30px;
}
/* 子元素选择器,选择 div4 类下的素偶有的[直接子元素] p 标签 */
.div4>p{
    color: blue;
    font-size: 20px;
}

/*紧邻 「+」兄弟选择器:选择 P1 类后面的 p 标签 */
.p1+p{
    color:blueviolet;
    font-size: 20px;
}
/* 通用兄弟选择器:「~」,选择所有的兄弟标签 */
.p1~p{
    color:rgb(52, 4, 18);
    font-size: 20px;
}
/* 属性选择器 */
/* 选择所有带有 title 属性的标签 */
[title]{
    color: green;
    font-size: 32px;
}
/* 选择所有 type 属性值为“text”的标签 */
input[type="text"]{
    width: 600px;
    height: 40px;
    color: chartreuse;
    font-size: 24px;

}
/* 伪类选择器 :用于选择元素的特定状态*/
/* 选择所有链接 */

/* 未访问的链接 */
a:link{
    color: cornflowerblue;
    font-size: 24px;
}
/* 已访问的链接 */
a:visited{
    color: #fc0022;
    font-size: 24px;
}

/* 鼠标悬停在连接上 */
a:hover{
    color: coral;
    font-size: 16px;
}

/* 链接被选中.激活时 */
a:active{
    color: rgb(12, 221, 78);
    font-size: 24px;
}

/* 用户交互伪类 focus  */
input:focus{
    background-color: blue;
}

/* :hover */
button{
    width: 300px;
    height: 40px;
}
button:hover{
    background-color: darkseagreen;
}

.p4{
   color: rgb(255, 255, 255); 
   background-color: darkslategray;
}
.div7{
    background-image: url(../html/https://i.pinimg.com/736x/9c/b0/43/9cb043b56a4b73f66eb91d78fc20380f.jpg);
}
.leve-1{
    border: 1px solid #fc0022;
    width: 400px;
    height: 400px;
    background-color: darkolivegreen;
    margin: 10px;
    padding: 10px;
}
.leve-2-1{
    width: 200px;
    height: 200px;
    background-color: beige;
}
.leve-2-2{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}
body{
    background-color: #d6d6d6;
}